@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Paytone+One&display=swap');

/* General reset and font settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Fullscreen container */
.fullscreen {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
}

/* Navbar styles */
.nav_bar {
    width: 20vw;
    text-align: left;
    color: rgb(100, 100, 100);
    height: 100vh;
    font-size: 18px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav_bar_option_container {
    margin-top: 30%;
    width: 100%;
    text-align: left;
}

.nav_bar_option {
    margin: 2px 0;
    padding: 30px 0 30px 30px;
    position: relative;
    transition: background-color 0.3s, transform 0.3s ease;
}

.nav_bar_option:hover {
    background-color: #e0f7fa;
    cursor: pointer;
    transform: scale(1.05);
}

.icon_wrapper {
    font-size: 19px;
    text-align: center;
    display: inline-block;
    padding-right: 10px;
}

.nav_bar_footer {
    font-size: 15px;
    position: absolute;
    bottom: 2%;
    padding-left: 50px;
}

.nav_bar_footer i {
    padding-right: 10px;
}

.nav_bar_footer:hover {
    text-shadow: 3px 3px 10px;
    cursor: pointer;
}

/* Main Layout */
.main_layout {
    width: 80vw;
    font-size: 17px;
    position: fixed; /* Fix the main layout */
    top: 0;
    left: 20vw; /* Adjust to fit next to the sidebar */
    height: 100vh;
    background-color: rgb(150, 200, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden; /* Prevent scrolling of the main layout itself */
}



/* Main Header */
.main_header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position:relative;
}

.title {
    height: 100%;
    width: 70%;
    padding: 0px 10px;
    font-size: 40px;
    font-weight: bold;
    color: #2c3e50;
}

.householdName{
    margin-bottom:5px;
}

.noti_and_id {
    min-height: 100%;
    width: 30%;
    position: relative;
}

.noti_and_id button {
    position: absolute;
    top: 8px;
    right:10px;
    min-height: 50px;
    min-width: 50px;
    border: none;
    border-radius: 8px;
    background-color: #2c3e50;
    color: white;
    transition: background-color 0.3s;
}

.noti_and_id button:hover {
    cursor: pointer;
    background-color: #34495e;
}

.noti_and_id i {
    font-size: 2em;
}

/*#id_btn button{
    right:10px;
}*/

.logoutForm:hover {
    background-color: #34495e;
    cursor: pointer;
}
