.search {
  padding: 10px 10px;
  border: 0px solid #333;
  border-radius: 5px;
  box-shadow: 1px 1px #333;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  gap: 25px;
  /* justify-content: space-between; */
}

.search label {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.search input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.delete {
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #c0392b;
}

/* Phân trang */
#pagination {
  display: flex;
  justify-content: center; /* Căn giữa các nút phân trang */
  align-items: center; /* Căn giữa theo chiều dọc */

  width: 100%;
  /* background-color: #fff; */
  padding: 10px 0;
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);  Tạo bóng nhẹ cho phần phân trang */
}

#pageNumber {
  font-size: 16px;
}

.pageButton {
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pageButton:hover {
  background-color: #2980b9;
}

.pageButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* ______________ */

.Buttons {
  width: 170px;
  height: 45px;
  padding: 9px 20px;
  background: #488df3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Buttons:hover {
  opacity: 0.9;
}

.Buttons.delete {
  background: #f3484b; /* Màu đỏ cho nút Xóa */
}

.Buttons .Buttons-items {
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.03px;
  word-wrap: break-word;
}

.action-buttons {
  padding: 20px 0px;
  position: absolute;
  bottom: 0;
  right: 20px;
  display: flex;
  gap: 20px;
}

/* Các lớp cụ thể cho từng nút */

.Buttons.add {
  background: #488df3;
}

.Buttons.split {
  background: #f1c40f;
}

.Buttons.move {
  background: #2ecc71;
}

/* CHUYỂN HỘ KHẨU */
.moveHouseHold {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  min-width: 500px;
  width: 40%;
}

.moveHouseHold h1 {
  margin-bottom: 20px;
  text-align: center;
}

.moveHouseHold form {
  display: flex;
  flex-direction: column;
}

.moveHouseHold .form-items {
  margin-bottom: 15px;
}

.moveHouseHold label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.moveHouseHold input,
.moveHouseHold textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.moveHouseHold .submit-btn {
  background-color: #4081f1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.moveHouseHold .cancel-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-items {
  margin-bottom: 15px;
}

.form-items label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #34495e;
}

.form-items input,
.form-items textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-items textarea {
  resize: none;
  height: 100px;
}

.form-items-row {
  display: flex;
  gap: 100px;
}

.form-items-row .form-items {
  width: 350px;
}

.submit-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.submit-btn:hover {
  background-color: #216fa3;
}

/* _____TÁCH HỘ KHẨU_____ */
.TachHoKhau {
  display: none; /* Hiển thị khi cần */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  z-index: 1000;
  min-width: 500px;
  width: 70%;
}

.TachHoKhau form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.TachHokhau form {
  display: none;
  position: relative;
  width: 70%;
  height: 90vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 8px 10%;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.inputField {
  /*  background-color:yellow;*/
  margin-top: 10px;
  margin-left: 7%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.inputElement {
  /*  background-color:pink;*/
  flex: 1 0 48%;
  margin: 7px;
  display: flex;
  flex-direction: column;
}

.inputElement span {
  font-weight: 600;
  font-size: 1.6rem;
  min-width: 120px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #34495e;
}

.inputElement input {
  background-color: #eee;
  outline: none;
  padding: 5px 10px;
  width: 70%;
  font-size: 17px;
  margin: 5px 30px;
}

.changeList {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.changeList span {
  color: #db4646;
  font-weight: 600;
  font-size: 16px;
  min-width: 120px;
}

.tableZone {
  /*    background-color:red;*/
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.table_container {
  position: relative;
  height: 100%;
  padding: 30px;
  width: 50%;
  display: inline-block;
}

.table_container table {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

table th,
table td {
  text-align: left;
  font-size: 16px;
  border: 2px solid #cccccc;
  color: #333;
}

.tableZone table th {
  background-color: #3498db;
  color: white;
  text-align: center;
}
td:nth-child(1),
th:nth-child(1) {
  width: 20%;
}
td:nth-child(2),
th:nth-child(2) {
  width: 50%;
}

td:nth-child(1),
td:nth-child(2) {
  padding-left: 5px;
}

.tableZone tr {
  height: 45px;
  background-color: #e7e9eb;
}

.tableZone table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableZone table tr:hover {
  background-color: #ddd;
}

.tableZone table td:nth-child(3) {
  text-align: center;
}

.submit {
  width: 20%;
  position: absolute;
  bottom: 5px;
  right: 20px;
  background-color: #512da8;
  color: #fff;
  font-size: 14px;
  width: 10%;
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

/* THÊM HỘ KHẨU */
.addHouse {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  min-width: 500px;
  width: 40%;
}

#addHousehold {
  display: flex;
  flex-direction: column;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-items label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #34495e;
}

.form-items input {
  min-height: 40px;
}

.formaddHouse {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-section-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#exit-layer {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

#exit-layer:hover {
  background-color: #ba372d;
  cursor: pointer;
}

/*____THÔNG TIN CHI TIẾT HỘ KHẨU____*/
#houseHoldModal {
  display: none; /* Ẩn modal khi chưa được mở */
  position: fixed; /* Đảm bảo modal đứng trên trang */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Đặt modal ở giữa màn hình */
  width: 80%; /* Kích thước modal */
  max-width: 900px; /* Đảm bảo modal không quá rộng */
  background-color: white; /* Màu nền của modal */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tạo bóng cho modal */
  z-index: 9999; /* Đảm bảo modal nổi bật hơn */
  min-height: 350px;
}

.information-household {
  max-height: 400px;
  overflow-y: auto;
}

.basic-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.basic-details .detail-row {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

.label {
  color: #db4646;
  font-weight: 600;
  min-width: 120px;
}

.value {
  font-size: 1.6rem;
  color: black;
  font-weight: 400;
  border: 1px solid #555;
  height: 20px;
  padding: 10px;
  background-color: #fff;
}
