/* Định dạng cho bảng tìm kiếm */
#FeeTable td:nth-child(2), th:nth-child(2), td:nth-child(1), th:nth-child(1) {
  width: 120px;
}

#Feetable td:nth-child(3), th:nth-child(3), td:nth-child(4), th:nth-child(4) {
  width: 180px;
}

#newHouseId {
  width: 120px;
}

#newTotal, #newPaid, #newName {
  width: 150px;
}

#payment-status {
  padding: 8px;
  margin-right: 10px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  background-color: #e6e6e6;
}

/* Định dạng cho bảng */
#inputRow input {
  padding: 8px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Định dạng nút dấu cộng thêm thu phí */
#addButton {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid #555;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
}

#addButton:hover {
  color: #fff;
  background-color: #3e8e41; /* Màu khi hover */
}

/* Định dạng hàng nhập liệu để chứa nút */
#inputRow {
  position: relative; /* Đặt hàng làm tham chiếu để định vị nút dấu cộng */
}

/* Định dang cho chuyển trang */
#pagination {
  display: flex;
  justify-content: center; /* Căn giữa các nút phân trang */
  align-items: center; /* Căn giữa theo chiều dọc */

  width: 100%;
  padding: 10px 0;
}

#pageNumber {
  font-size: 16px;
}

.pageButton {
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pageButton:hover {
  background-color: #2980b9;
}

.pageButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#FeeModal {
  display: none; /* Ẩn modal khi chưa được mở */
  position: fixed; /* Đảm bảo modal đứng trên trang */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Đặt modal ở giữa màn hình */
  width: 80%; /* Kích thước modal */
  max-width: 900px; /* Đảm bảo modal không quá rộng */
  background-color: white; /* Màu nền của modal */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tạo bóng cho modal */
  z-index: 9999; /* Đảm bảo modal nổi bật hơn */
  min-height: 350px;
}

.payment-history {
  max-height: 400px;
  overflow-y: auto;
}

.basic-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding: 0px 0px 20px 0px;
}

.basic-detail-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.detail-row {
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.detail-row input {
  border: none;
  border-radius: 5px;
  color: #333;
  width: 125px;
}

.label {
  color: #db4646;
  font-weight: 600;
  min-width: 120px;
}

.value {
  font-size: 1.6rem;
  color: black;
  font-weight: 400;
  border: 1px solid #555;
  height: 20px;
  padding: 10px;
  background-color: #fff;
}

/* Nút đóng */
.closeBtn {
  position: absolute;
  top: 10px; /* Đặt nút cách cạnh trên của modal */
  right: 10px; /* Đặt nút cách cạnh phải của modal */
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: transform 0.2s ease, color 0.2s ease; /* Thêm hiệu ứng chuyển động */
}

/* Khi nhấn vào */
.closeBtn:active {
  transform: translateY(2px); /* Nút sẽ dìm xuống khi nhấn */
}