.Search-Acc {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 1px 1px #555;
    border-radius: 5px;
    gap: 20px
  }
  
  .Search-Acc-Item {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 10px;
  }
  
  .Search-Acc input {
    padding: 8px;
    margin-right: 10px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    background-color: #e6e6e6;
  }
  