<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /  >
  <meta name = "viewport" content= "width = device_width initial-scale = 1.0">
  <link rel="stylesheet" type="text/css" href="/css/styleMain.css">
  <link rel="stylesheet" type="text/css" href="/css/fee.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <title>Thông tin thu phí</title>
</head>
<body>
  <div class ="fullscreen">
    <div class="nav_bar">
      <div class = "nav_bar_option_container">
        <div class = "nav_bar_option" id = "user">
          <div class = "icon_wrapper"><i class="fas fa-user-alt fa-fw fa-align-center"></i></div>
          <span>Thông tin cá nhân</span>
        </div>
        <div class = "nav_bar_option" id ="household">
          <div class = "icon_wrapper"><i class="fas fa-users fa-fw fa-align-center"></i></div>
          <span>Thông tin hộ khẩu</span>
        </div>
        <div class = "nav_bar_option" id ="fee">
          <div class = "icon_wrapper"><i class="fas fa-receipt fa-fw fa-align-center"></i></div>
          <span>Thông tin thu phí</span>
        </div>
        <div class = "nav_bar_option" id ="contribution">
          <div class = "icon_wrapper"><i class="fas fa-file-invoice-dollar fa-fw fa-align-center"></i></div>
          <span>Đóng góp tình nguyện</span>
        </div>
        <!-- <div class = "nav_bar_option">
          <div class = "icon_wrapper"><i class="fas fa-cog fa-fw fa-align-center"></i></div>
          <span onclick="window.location.href='/settings';">Cài đặt tài khoản</span>
        </div> -->
        <div class = "nav_bar_footer">
          <span><i class="fas fa-question-circle"></i>Help</span>
        </div>
      </div>
    </div>
    <div class="main_layout">
      <div class ="main_header_container">
        <div class ="title">
          <span>Thông tin thu phí</span>
        </div>
        <div class ="noti_and_id">
          <div id="id_btn">
            <button><i class="fas fa-sign-out-alt fa-fw fa-align-center"></i></button>
          </div>
        </div>
      </div>
      <div class ="main_container">
        <div class="table_container">
          <table id="feeTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Số hộ khẩu</th>                
                <th>Loại phí</th>
                <th>Số tiền</th>
                <th>Hạn nộp</th>
                <th>Trạng thái</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>

          <div id="pagination">
            <button class="pageButton" id="prevPage" onclick="changePage(-1)">
              Prev
            </button>
            <span id="pageNumber">Page 1</span>
            <button class="pageButton" id="nextPage" onclick="changePage(1)">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
      // Dữ liệu mẫu về khoản thu
      const fees = [
        {
          id:"1",
          household:"HK12345",
          type:"Mua ghế đá",
          amount:"100000",
          date:"21/10/2024",
          status:"Chưa thanh toán",
        },
        {
          id:"37",
          household:"HK12345",
          type:"Xây vỉa hè",
          amount:"100000",
          date:"19/04/2024",
          status:"Chưa thanh toán",
        },
        {
          id:"69",
          household:"HK12345",
          type:"Độ bô xe cứu thương",
          amount:"500000",
          date:"27/02/2025",
          status:"Chưa thanh toán",
        },
        {
          id:"122",
          household:"HK12345",
          type:"Quỹ khuyến học",
          amount:"10000",
          date:"11/11/2024",
          status:"Đã thanh toán",
        },
      ];

      let currentPage = 1;
      const itemsPerPage = 6; // Hiển thị 6 dân cư mỗi trang

      // Hàm cập nhật bảng dân cư
      function updateFeesTable(fees) {
        const tableBody = document
          .getElementById("feeTable")
          .getElementsByTagName("tbody")[0];
        tableBody.innerHTML = ""; // Xóa các dòng cũ trong bảng

        fees.forEach((fee) => {
          const row = tableBody.insertRow();
          row.insertCell(0).textContent = fee.id;
          row.insertCell(1).textContent = fee.household;
          row.insertCell(2).textContent = fee.type; 
          row.insertCell(3).textContent = fee.amount;
          row.insertCell(4).textContent = fee.date;
          row.insertCell(5).textContent = fee.status;
        });
      }

      // Hàm phân trang
      function changePage(direction) {
        const totalPages = Math.ceil(fees.length / itemsPerPage);
        currentPage += direction;


        if (currentPage < 1) {
          currentPage = 1;
        } else if (currentPage > totalPages) {
          currentPage = totalPages;
        }

        const start = (currentPage - 1) * itemsPerPage;
        const end = start + itemsPerPage;
        const pageFees = fees.slice(start, end);

        updateFeesTable(pageFees);

        // Cập nhật số trang
        document.getElementById(
          "pageNumber"
        ).textContent = `Page ${currentPage}`;

        // Kiểm tra nút phân trang
        document.getElementById("prevPage").disabled = currentPage === 1;
        document.getElementById("nextPage").disabled =
          currentPage === totalPages;
      }

      // Hiển thị trang đầu tiên khi tải trang
      window.onload = () => changePage(0);
    </script>
</body>
</html>
