<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /  >
  <meta name = "viewport" content= "width = device_width initial-scale = 1.0">
  <link rel="stylesheet" type="text/css" href="/css/styleMain.css">
  <link rel="stylesheet" type="text/css" href="/css/household.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <script type="text/javascript" src="../static/js/household.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <title>Hộ khẩu</title>
</head>
<body>
  <div class ="fullscreen">
    <div class="nav_bar">
      <div class = "nav_bar_option_container">
        <div class = "nav_bar_option" id = "user">
          <div class = "icon_wrapper"><i class="fas fa-user-alt fa-fw fa-align-center"></i></div>
          <span>Thông tin cá nhân</span>
        </div>
        <div class = "nav_bar_option" id ="household">
          <div class = "icon_wrapper"><i class="fas fa-users fa-fw fa-align-center"></i></div>
          <span>Thông tin hộ khẩu</span>
        </div>
        <div class = "nav_bar_option">
          <div class = "icon_wrapper"><i class="fas fa-receipt fa-fw fa-align-center"></i></div>
          <span>Thông tin thu phí</span>
        </div>
        <div class = "nav_bar_option">
          <div class = "icon_wrapper"><i class="fas fa-comment-dots fa-fw fa-align-center"></i></div>
          <span onclick="window.location.href='/messages';">Tin nhắn</span>
        </div>
        <div class = "nav_bar_option">
          <div class = "icon_wrapper"><i class="fas fa-file-invoice-dollar fa-fw fa-align-center"></i></div>
          <span>Đóng góp tình nguyện</span>
        </div>
        <div class = "nav_bar_option">
          <div class = "icon_wrapper"><i class="fas fa-cog fa-fw fa-align-center"></i></div>
          <span onclick="window.location.href='/settings';">Cài đặt tài khoản</span>
        </div>
        <div class = "nav_bar_footer">
          <span><i class="fas fa-question-circle"></i>Help</span>
        </div>
      </div>
    </div>
    <div class="main_layout">
      <div class ="main_header_container">
        <div class ="search_container">
          <form>
            <div class ="search_bar">
              <button type="submit"><i class="fa fa-search"></i></button>
              <input type="text" placeholder="Search.." name="search">
            </div>
          </form>
        </div>
        <div class ="noti_and_id">
          <div id="noti_btn">
            <button><i class="fas fa-bell fa-fw fa-align-center"></i></button>
          </div>
          <div id="id_btn">
            <button><i class="fas fa-user-circle fa-fw fa-align-center"></i></button>
          </div>
        </div>
      </div>
      <div class ="title_and_filter_container">
        <div id="title">
          <span>Thông tin hộ khẩu</span>
        </div>
        <div id="filter_container">
          <div class ="filter">
            <div class="filter_title">
              <span>ID</span>
            </div>
            <form>
              <input type="text" placeholder="Nhập ID" name="id">
            </form>
          </div>
          <div class ="filter">
            <div class="filter_title">
              <span>Tên dân cư</span>
            </div>
            <form>
              <input type="text" placeholder="Nhập tên dân cư" name="nameInput">
            </form>
          </div>
          <div class ="filter">
            <div class="filter_title">
              <span>Số CCCD</span>
            </div>
            <form>
              <input type="text" placeholder="Nhập mã CCCD" name="cccd">
            </form>
          </div>
          <div class ="filter">
            <div class="filter_title">
              <span>Số hộ khẩu</span>
            </div>
            <form>
              <input type="text" placeholder="Nhập số hộ khẩu" name="hokhau">
            </form>
          </div>
        </div>
      </div>
      <div class ="main_container">
        <div class="table_container">
          <table id="residentTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Tên dân cư</th>
                <th>Ngày sinh</th>
                <th>Số CCCD</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Số hộ khẩu</th>
                <!-- <th>Trạng thái</th> -->
              </tr>
            </thead>
            <tbody>
              <!-- Dữ liệu sẽ được điền vào đây -->
            </tbody>
          </table>
          <!-- Phần phân trang -->
          <div id="pagination">
            <button class="pageButton" id="prevPage" onclick="changePage(-1)">
              Prev
            </button>
            <span id="pageNumber">Page 1</span>
            <button class="pageButton" id="nextPage" onclick="changePage(1)">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
</body>
</html>
