<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/List_Resident.css"/>
    <script type="text/javascript" src="/js/List_Resident.js" defer></script>
  </head>
  <body>
    <div class="fullscreen">
      <div class="Dashboard">
        <a style="color: #4081f1" onclick="window.location.href = '/admin/Home'"
          >Chung cư BlueMoon</a
        >
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/List_Resident'"
            >Thông tin dân cư</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/List_House_Hold'"
            >Thông tin hộ khẩu</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/List_Fee'"
            >Thông tin thu phí</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/DonationLedger'"
            >Đóng góp tình nguyện</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/List_Account'"
            >Quản lý tài khoản</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/Settings_ADMIN'"
            >Cài đặt</a
          >
        </div>
      </div>
      <div class="Main">
        <div class="Infor">
          <h1>Danh sách dân cư</h1>
          <div class="Search-Resident">
            <div class="Search-Res-Item">
              <label for="nameInput" class="label">Tên dân cư:</label>
              <input
                id="nameInput"
                list="nameSuggestions"
                class="input"
                placeholder="Nhập tên cư dân"
                oninput="searchName()"
              />
              <datalist id="nameSuggestions"></datalist>
              <!--Danh sách gợi ý -->
            </div>
            <div class="Search-Res-Item">
              <label for="cccdInput" class="label">Số CCCD của cư dân:</label>
              <input
                id="cccdInput"
                list="cccdSuggestions"
                class="input"
                placeholder="Nhập mã CCCD"
                oninput="searchCCCD()"
              />
              <datalist id="cccdSuggestions"></datalist>
            </div>

            <div class="Search-Res-Item">
              <label for="householdInput" class="label">Số hộ khẩu:</label>
              <input
                id="householdInput"
                list="householdSuggestions"
                class="input"
                placeholder="Nhập số hộ khẩu"
                oninput="searchHousehold()"
              />
              <datalist id="householdSuggestions"></datalist>
            </div>

            <div class="Search-Res-Item">
              <label for="temporaryInput" class="label">Trạng thái:</label>
              <input
                id="temporaryInput"
                list="temporarySuggestions"
                class="input"
                placeholder="Nhập trạng thái"
                oninput="searchTemporary()"
              />
              <datalist id="temporarySuggestions"></datalist>
            </div>
          </div>

          <table id="residentTable">
            <thead>
              <tr>
                <th>Mã cư dân</th>
                <th>Tên dân cư</th>
                <th>Ngày sinh</th>
                <th>Số CCCD</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Số hộ khẩu</th>
                <th>Trạng thái</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- Dữ liệu sẽ được điền vào đây -->
            </tbody>
          </table>
          <!-- Phần phân trang -->
          <div id="pagination">
            <button class="pageButton" id="prevPage" onclick="changePage(-1)">
              Prev
            </button>
            <span id="pageNumber">Page 1</span>
            <button class="pageButton" id="nextPage" onclick="changePage(1)">
              Next
            </button>
          </div>
        </div>
        <button id="Btn-addRes" class="Btn-addRes Btn">Thêm dân cư</button>
      </div>
    </div>

    <div class="layer">
      <h1>Thêm cư dân</h1>
      <!-- Form Section -->
      <div class="form-section">
        <form id ="addResForm">
          <div class="form-items">
            <label for="nameRes">Họ và tên:</label>
            <input
              type="text"
              id="nameRes"
              placeholder="Nhập vào họ và tên"
              required
            />
          </div>
          <div class="form-items">
            <label for="birthday">Ngày sinh:</label>
            <input type="date" id="birthday" required />
          </div>
          <div class="form-items">
            <label for="gender">Giới tính:</label>
            <input
              type="text"
              id="gender"
              placeholder="Nhập/chọn giới tính"
              required
            />
          </div>
          <div class="form-items">
            <label for="CCCD">Số CCCD:</label>
            <input type="text" id="CCCD" placeholder="Nhập số CCCD" required />
          </div>
          <div class="form-items">
            <label for="SDT">Số điện thoại:</label>
            <input
              type="text"
              id="SDT"
              placeholder="Nhập số điện thoại"
              required
            />
          </div>
          <div class="form-items">
            <label for="IDHousehold">Mã hộ khẩu:</label>
            <input
              type="text"
              id="IDHousehold"
              placeholder="Nhập vào mã hộ khẩu"
              required
            />
          </div>
          <div class="form-items">
            <label for="relation">Quan hệ với chủ hộ:</label>
            <input
              type="text"
              id="relation"
              placeholder="Quan hệ với chủ hộ"
              required
            />
          </div>
          <div class="form-items">
            <label for="status">Trạng thái</label>
            <input
              type="text"
              id="status"
              placeholder="Nhập vào trạng thái"
              required
            />
          </div>
          <button type="submit" class="submit-btn">Đăng ký</button>
        </form>
      </div>
      <div id="exit-layer">
        <button onclick="exitAddResident()">Hủy</button>
      </div>
    </div>

    <!-- Modal hiển thị thông tin dân cư -->
    <div id="residentModal" class="modal">
      <div class="modal-content">
        <!-- <span class="closeBtn" onclick="closeModal()">&times;</span> -->
        <div id="modalDetails" class="InformationUser">
          <!-- Nội dung sẽ được thêm động -->
        </div>
      </div>
    </div>
  </body>
</html>
