<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/List_Account.css" />
    <script type="text/javascript" src="/js/List_Account.js"></script>
    <title>Quản lý tài khoản</title>
  </head>
  <body>
    <div class="fullscreen">
      <div class="Dashboard">
        <a style="color: #4081f1" onclick="window.location.href = '/admin/Home'"
          >Chung cư BlueMoon</a
        >
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/List_Resident'"
            >Thông tin dân cư</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/List_House_Hold'"
            >Thông tin hộ khẩu</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/List_Fee'"
            >Thông tin thu phí</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/DonationLedger'"
            >Đóng góp tình nguyện</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/List_Account'"
            >Quản lý tài khoản</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/admin/Settings_ADMIN'"
            >Cài đặt</a
          >
        </div>
        <div class="Dashboard__elements">
          <a onclick="window.location.href = '/login'">Đăng xuất</a>
        </div>
      </div>
      <div class="Main">
        <h1>Quản lý tài khoản</h1>
        <div class="Search-Acc">
          <div class="Search-Acc-Item">
            <label for="nameAccount" class="label">Tên tài khoản:</label>
            <input
              id="nameAccount"
              class="input"
              placeholder="Nhập tên tài khoản"
              oninput="filterData()"
            />
          </div>
          <div class="Search-Acc-Item">
            <label for="userID" class="label">Mã cư dân:</label>
            <input
              id="userID"
              class="input"
              placeholder="Nhập mã cư dân"
              oninput="filterData()"
            />
          </div>
        </div>

        <table id="AccountTable">
          <thead>
            <tr>
              <th>Tên tài khoản</th>
              <th>Mật khẩu</th>
              <th>Mã cư dân</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <!-- Rows dynamically generated -->
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
