<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /  >
  <meta name = "viewport" content= "width = device_width initial-scale = 1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js/userCheck.js"></script>
  <title>Đăng nhập</title>
</head>
<body>
  <div class ="fullscreen">
    <div class="Parent">
        <div class="img">
        </div>
        <div class="login">
            <form id ="userInfo" action ="/loginForm" method = "post" >
              <h1>WELCOME BACK !</h1>
              <span>Login to continue</span>
              <div id = "input_with_icon">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type = "text" placeholder = "Username" id ="usr" name = "username"></input>
              </div> 
              <div id = "input_with_icon">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input id = "pwd" type = "password" placeholder = "Password" name = "password"></input>
              </div> 
              <button type ="submit">Login</button>
              <span class = "pwd_forgot"><a href="">Forgot your password?</a></span>
            </form>
            <div class="footer">
              <span>Don't have an account yet? <a href="">Sign up now</a></span>
            </div>
            <div class="footer2">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <span><a href="">Need help?</a></span>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
