<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo</title>
    <link rel="stylesheet" href="/css/globalUser.css">
    <link rel="stylesheet" href="/css/messageUser.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <script type="text/javascript" src="/js/messageUser.js" defer></script>
    <script type="text/javascript" src="/js/getWeb.js" defer></script>
</head>
<body>
    <div class="fullscreen">
        <div class="nav_bar">
            <div class="nav_bar_option_container">
                <div class="nav_bar_option" id="user" onclick ="getResident()">
                    <div class="icon_wrapper"><i class="fas fa-user-alt fa-fw fa-align-center"></i></div>
                    <span>Thông tin cá nhân</span>
                </div>
                <div class="nav_bar_option" id="household" onclick="getHousehold()">
                    <div class="icon_wrapper"><i class="fas fa-users fa-fw fa-align-center"></i></div>
                    <span>Thông tin hộ khẩu</span>
                </div>
                <div class="nav_bar_option" id="fee" onclick="getFee()">
                    <div class="icon_wrapper"><i class="fas fa-receipt fa-fw fa-align-center"></i></div>
                    <span>Thông tin thu phí</span>
                </div>
                <div class="nav_bar_option" id="contribution" onclick="getContribution()">
                    <div class="icon_wrapper"><i class="fas fa-file-invoice-dollar fa-fw fa-align-center"></i></div>
                    <span>Đóng góp tình nguyện</span>
                </div>
                <div class="nav_bar_option" id="message">
                    <div class="icon_wrapper"><i class="fas fa-bell fa-fw fa-align-center"></i></div>
                    <span>Thông báo</span>
                </div>
            </div>
        </div>

        <div class="main_layout">
            <div class="main_header_container">
                <div class="title">
                    <span>Thông báo</span>
                </div>
                <div class="noti_and_id">
                    <div id="id_btn">
                        <form action="/logout" method="post" id="logoutForm">
                            <button type="submit"><i class="fas fa-sign-out-alt fa-fw fa-align-center"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Message container area -->
            <div class="container">
            </div>
        </div>
    </div>

    <div class="overlay" onclick="closeDetail()">
        <div class="full-message" onclick="event.stopPropagation();">
            <h2></h2>
            <time></time>
            <p></p>
            <button onclick="closeDetail()">Đóng</button>
        </div>
    </div>
</body>
</html>
