<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /  >
  <meta name = "viewport" content= "width = device_width initial-scale = 1.0">
  <link rel="stylesheet" type="text/css" href="/css/styleMain.css">
  <link rel="stylesheet" type="text/css" href="/css/residentUser.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <script type="text/javascript" src="/js/getWeb.js"></script>
  <script type="text/javascript" src="/js/residentUser.js"></script>
  <title>Thông tin cá nhân</title>

</head>
<body>
<div class ="fullscreen">
  <div class="nav_bar">
    <div class = "nav_bar_option_container">
      <div class = "nav_bar_option" id = "user">
        <div class = "icon_wrapper"><i class="fas fa-user-alt fa-fw fa-align-center"></i></div>
        <span>Thông tin cá nhân</span>
        </div>
        <div class = "nav_bar_option" id ="household" onclick="getHousehold()">
          <div class = "icon_wrapper"><i class="fas fa-users fa-fw fa-align-center"></i></div>
          <span>Thông tin hộ khẩu</span>
        </div>
        <div class = "nav_bar_option" id = "fee" onclick="getFee()">
          <div class = "icon_wrapper"><i class="fas fa-receipt fa-fw fa-align-center"></i></div>
          <span>Thông tin thu phí</span>
        </div>
        <div class = "nav_bar_option" id = "contribution" onclick="getContribution()">
          <div class = "icon_wrapper"><i class="fas fa-file-invoice-dollar fa-fw fa-align-center"></i></div>
          <span>Đóng góp tình nguyện</span>
        </div>
        <div class = "nav_bar_footer">
          <span><i class="fas fa-question-circle"></i>Help</span>
        </div>
      </div>
    </div>
    <div class="main_layout">
      <div class ="main_header_container">
        <div class ="title">
          <span>Thông tin cá nhân</span>
        </div>
        <div class ="noti_and_id">
          <div id="id_btn" onclick="userLogout()">
            <button><i class="fas fa-sign-out-alt fa-fw fa-align-center" ></i></button>
          </div>
        </div>
      </div>
      <div class ="main_container">
         <div class="InformationUser">
                <img class="profile-avatar" src="https://via.placeholder.com/280x280" alt="Profile Avatar">
                
                <div class="basic-details">
                    <div class="detail-row">
                        <span class="label">Họ và tên:</span>
                        <span class="value" id = "residentName"></span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Ngày sinh:</span>
                        <span class="value" id = "residentDate"></span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Giới tính:</span>
                        <span class="value" id = "residentGender"></span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Số CCCD:</span>
                        <span class="value" id = "residentID"></span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Số điện thoại:</span>
                        <span class="value" id = "residentPhone"></span>
                    </div>
                </div>
    
                <div class="account-details">
                    <div class="detail-row">
                        <span class="label">Vai trò:</span>
                        <span class="value" id = "residentRole"></span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Tên đăng nhập:</span>
                        <span class="value" id = "residentUsername"></span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Mật khẩu:</span>
                        <span class="value" id = "residentPassword"></span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Số căn hộ:</span>
                        <span class="value" id = "residentHousehold"></span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Quan hệ với hộ:</span>
                        <span class="value" id = "residentRelation"></span>
                    </div>
                </div>

                <div class = "btn" id = "changeInfoBtn">
                  <button onclick = "changePassword()">Đổi mật khẩu</button>
                </div>
            </div>
      </div>
    </div>
  </div>

  <div id = "wrapper_1">
      <div id = "exit_wrapper_1">
        <button onclick = "exitChangePassword()">Quay lại</button>
      </div>
      <div id = "changeInfoForm">
        <form id ="userInfo">
              <span id = "form_wrapper_1_title">Thay đổi mật khẩu</span>
              <div id = "input_field_wrapper_1">
                <span>Mật khẩu cũ</span>
                <input type = "text" placeholder = "Nhập mật khẩu cũ" ></input>
              </div> 
              <div id = "input_field_wrapper_1">
                <span>Mật khẩu mới</span>
                <input type = "text" placeholder = "Nhập mật khẩu mới" ></input>
              </div> 
              <div id = "input_field_wrapper_1">
                <span>Nhập lại mật khẩu mới</span>
                <input type = "text" placeholder = "Xác nhận mật khẩu mới" ></input>
              </div> 
              <button type ="submit">Hoan tat</button>
            </form>
      </div>
  </div>
</body>
</html>
