.Search-Fee {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  align-items: center;
  box-shadow: 1px 1px #555;
  border-radius: 5px;
}

.Search-Fee-Item {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Search-Fee input {
  padding: 8px;
  margin-right: 10px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  background-color: #e6e6e6;
}

/* ================== */

.input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #777;
}
/* table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}
#pagination {
  margin-top: 20px;
  text-align: center;
} */
.pageButton {
  margin: 0 5px;
  padding: 5px 10px;
}
.add-row {
  background-color: #e6f7ff;
}
